a:hover{text-decoration:underline;}
input,
textarea,
select{
  font:100% arial,sans-serif;
  vertical-align:middle;
}
form,fieldset{
  margin:0;
  padding:0;
  border:none;
}

#main-container {
  margin: 0 auto;
  width:px;
}

/* navigation */
#nav, #nav ul {
  padding:0;
  margin:0;
  list-style:none;
}
#nav li {
  float:left;
  margin-right:20px;
  display:inline;
  border-bottom:1px solid #fff;
  position:relative;
}  
#nav li.hover {
  border-bottom:1px solid #01729d;
}
#nav ul li {
  padding:0;
  float:none;
  border:none;
  display:block;
}
#nav li.hover li {border:none;}
#nav li div {
  position:absolute;
  top:15px;
  left:-9999px;
  width:100px;
}
#nav li.hover div {left:0;}

.example1 li {
  margin-right:2px !important;
  border:none !important;
}
.example1 div {width:120px;}
.example1 a {
  border:1px solid #01729d;
  line-height:20px;
  text-align:center;
  width:120px;
  display:block;
  background:#00435d;
}
.example1 ul {
  border:1px solid #01729d;
}
.example1 .hover a {background:#005c80;}
.example1 div li {margin-right:0 !important;}
.example1 div {
  width:122px !important;
  top:21px !important;
}
.example1 div a {border:none;}

  


.tpmn{background:url(../images/slice_tp.png) repeat-x;height:45px;width:100%;}

.conteiner{
background:#e9e9e9;
width:1086px;
margin:auto;
height:auto;
border-left: 1px solid black;
border-right: 1px solid black;
 overflow: auto;
padding-bottom:0px;
}
 .conteiner1{

width:auto;
margin:auto;
height:auto;
border-left: 1px solid black;
border-right: 1px solid black;
 overflow: auto;
padding-bottom:0px;
} 
.content{
width:860px;
float:left;
height:100%;
background:#fff;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
margin-top:10px;
margin-left:7px;
box-shadow:0 0 3px 0 #919191;
-webkit-box-shadow:0 0 3px 0 #919191;
-moz-box-shadow:0 0 3px 0 #919191;
}






.regbutton:hover{
background:url(../images/regbt2.png) no-repeat;
}

.middlemenu{
background:url(../images/middlemenu.png) repeat-x;
height:30px;
width:100%;
}
.middlemenu a{
color:#fff;
text-decoration:none;
}
.mdbt{
float:left;
background:url(../images/mdbtright.png) no-repeat;
}
.mdbt2{
padding:8px;
}
.mdbt2:hover{
background:url(../images/mdbt.png) repeat-x;
height:100%;
}
.mdnav{
float:left;
border-right:border-left: 1px solid #7c7c7c;
}

.search_input{
background:url(../images/srchfield.png) no-repeat;
width:225px;
height:25px;
border:none;
float:left;
color:#454545;
font-size:11px;
font-family:Tahoma;
}
.search-button{
background:url(../images/srchbut.png) no-repeat;
width:26px;
height:25px;
border:none;
float:right;
}

.intolg{
color:#fff;
padding-right:90px;
float:right;
}

.intolg a{
color:#fff;
text-decoration:none;
}
.intolg a:hover{
text-decoration:underline;
}

.tpnav{
color:#8d8c8c;
margin:auto;

float:center;
 margin-left:95px; 
}
.tpnav a{
color:#8d8c8c;
text-decoration:none;
}
.tpnav a:hover{
text-decoration:underline;
color:#fff;
}
.asfasd{
float:right;
margin-right:95px;
color:#fff;
}
.asfasd a{
color:#fff;
text-decoration:none;
}
.asfasd a:hover{
text-decoration:underline;
color:#fff;
}

.lgbutton{
background:url(../images/submit.png) no-repeat;
 height:22px;
width:79px; 
}
.lgbutton:hover{
background:url(../images/submit.png) no-repeat;
}
.lgfield{
background:url(../images/lg_field.png) no-repeat;
width:114px;
border:none;
height:26px;
color:#f1f1f1;
font-size:11px;
font-family:Tahoma;
float:left;
margin-left:3px;
margin-right:3px;
}
.logout a{
color:#fff;
text-decoration:none;
}
.logout a:hover{
text-decoration:underline;
color:#fff;
}
.sidebar{
width:205px;
float:right;
margin-top:10px;
margin-right:5px;
}
.rightblock{
width:205px;
background:#454545;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
}
.rightblock a{
text-decoration:none;
color:#fff;
}
.rightblock a:hover{
text-decoration:underline;
color:#fff;
}
.headblock{
background:url(../images/hdblk.png) no-repeat;
width:205px;
height:24px;
margin:auto;
color:#fff;
font-family:Trebuchet MS;
font-size:13px;
}
.ultop{
list-style-type:decimal;
color:#fff;
padding-left:5px;
padding-top:5px;
}
@-moz-document url-prefix()
{
  .ultop{margin-left:16px;list-style-type:lower-alpha;padding-left:5px;padding-top:5px;}
}
.votequest{
background:url(../images/votequest.png) no-repeat;
width:165px;
height:36px;
margin:auto;
color:#313131;
text-align:center;
padding-top:5px;
margin-top:5px;
}
.voteb{
background:url(../images/vtbt.png) no-repeat;
width:83px;
height:25px;
color:#fff;
border:none;
font-size:11px;
padding-bottom:3px;
cursor:pointer;
}
.voteb:hover{
background:url(../images/vtbt2.png) no-repeat;
}
.titlenews{
background:url(../images/title.png) no-repeat;
height:31px;
width:860px;
margin:auto;
}
.titlenews a{
color:#fff;
font-size:15px;
text-decoration:none;
margin-top:5px;
}
.titlenews a:hover{
text-decoration:underline;
}
.newsicons{
padding-top:2px;
color:#323232;
}
.newsicons a{
color:#b88f00;
text-decoration:none;
}
.newsicons a:hover{
text-decoration:underline;
}
.btnw{
background:url(../images/bttit.png) no-repeat;
height:35px;
width:860px;
margin:auto;
}
.insidenews{
background:url(../images/flbt.png) no-repeat;
width:83px;
height:25px;
float:right;
margin-top:6px;
padding-left:3px;
}
.insidenews:hover{
background:url(../images/flbt2.png) no-repeat;
}
.newsposter{


}
.printnews{

width:230px;
height:30px;
float:right;
margin-top:6px;
padding-left:3px;
}
.printnews:hover{

}
.reltop{
background:url(../images/reltop.png) no-repeat;
width:860px;
height:24px;
font-size:11px;
color:#535353;
}
.relatednews{
background:#f2f2f2;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
list-style-type:none;
}
.relatednews a{
color:#444444;
text-decoration:underline;
}
.relatednews a:hover{
color:#b88f00;
}
.sendn{
background:url(../images/submit.png) no-repeat;
height:22px;
width:79px;
border:none;
}
.sendn:hover{
background:url(../images/submit2.png) no-repeat;
}
.addcomments-submit{
float:right;
margin-top:200px;
margin-right:300px;
}
.commcont{
width:860px;
height:100%;
background:#fcfcfc;
color:#565656;
min-height:100px;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-top: 1px solid #e7e7e7;
border-bottom: 1px solid #e7e7e7;
overflow:auto;
}
.commcont img{
border:1px solid black;
}
.commcont a{
color:#d3a400;
text-decoration:none;
}
.commcont a:hover{
text-decoration:underline;
}
.banner123{
background:url(../images/bannercont.png) no-repeat;
width:479px;
height:66px;
}
p {
  line-height: 1.5em;
}
ul#menu, ul#menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width:205px;
}

ul#menu a {
  display: block;
  text-decoration: none;  
}

ul#menu li {
  width:205px;
}

ul#menu li a {
  background: #333 url(../images/nvbt.png)no-repeat;
  color: #fff;  
  width:205px;
height:26px;
}

.nvbtsp{
  background: #333 url(../images/nvbtsp.png)no-repeat;
  color: #fff;  
  width:205px;
height:26px;
 
}

.nvbtsp:hover {
  background: #000;
background: #333 url(../images/nvbtsp2.png)no-repeat;
}

ul#menu li a:hover {
  background: #000;
background: #333 url(../images/nvbt2.png)no-repeat;
}
ul#menu li ul li a {
  background: #333333;
  color: #fff;
height:15px;
padding:5px 0;
}

ul#menu li ul li a:hover {
background: #333333;
text-decoration:underline;
color:#f4c430;
}
.slidemenu{
width:205px;
height:100%;
border-radius:5px;
background:#454545;
padding:5px 0;
margin-bottom:10px;
}
.atext{
margin-top:5px;
float:left;
margin-left:3px;
}

.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }

.usercont a{
color:#d3a400;
text-decoration:none;
}
.usercont a:hover{
text-decoration:underline;
}
.asdzxc{
border:1px solid black;
}
.ministat{
float:right;
padding:15px 10px 0 0;
opacity:0.6;
cursor:pointer;
}
.ministat:hover{
opacity:1;
}
.navbutcont{
margin:auto;
width:100%;
font-size:12px;
text-decoration:none;
}
.navbutcont a{
text-decoration: none;
color: #636363;
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #e8e8e8;
border: 1px solid #d0d0d0;
padding: 3px 6px;
font-size: 11px;
}
.navbutcont span{
text-decoration: none;
color: #a8a8a8;
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #e8e8e8;
border: 1px solid #d0d0d0;
padding: 3px 6px;
font-size: 11px;
}
.navbutcont a:hover{
background-attachment: scroll;
background-clip: border-box;
background-color: #d0d0d0;
background-image: none;
background-origin: padding-box;
background-position: 0% 0%;
background-repeat: repeat;
background-size: auto;
border-bottom-color: #e6e6e6;
border-left-color: #e6e6e6;
border-right-color: #e6e6e6;
border-top-color: #e6e6e6;
color: #ffffff;
}
.ip
{
   color: #009900; 
}
 .list
{
   color: #009900; 
}  
 
.ichat{
width:205px;
height:430px;
background:#454545;
border-radius:5px;
}
.poll2{
 font-size:15px;
text-decoration:none; 
} 
.adsens{
     
width:1112px;
height:90px;
margin-top:176px;
    
}  
#bullet_energy_emos div{overflow:auto!important;height:150px!important}
#bullet_energy_emos{padding:3px 3px 0 !important}
 .block-header {
   position: absolute;  
width:468px;
height:60px;
margin-top:5px;
  margin-left: 50%;
}   


a.s-menu:link, a.s-menu:visited {display:block; border-bottom:1px solid #252525; font-weight:bold; padding:3px 0px 3px 5px; color:#FFFFFF;}
a.s-menu:hover { border-bottom:1px solid #252525; color:#FFFFFF;}
a.ss-menu:link, a.ss-menu:visited {display:block; border-bottom:1px solid #252525; font-weight:normal; padding:3px 0px 3px 5px; color:#FFFFFF; margin-left:16px;}
a.ss-menu:hover { border-bottom:1px solid  #252525; color:#FFFFFF;}
.online_out1
{ color:#FFFFFF; 
}
.online_out2
 { color:#009900; 
} 
 .online_out3
 { color:#CC0000; 
}  
  .online_out4
 { color:#FF6600 ; 
}   
   .online_out5
 { color:#FF6600;
 
}   
.addrules{
   font-size:20px;
} 
.pm_status {
	float:left;
	border: 1px solid #d8d8d8;
	padding: 0px;
	background-color: #fff;
	width: 500px;
	height: 100px;
	margin-left: 20px;
	margin-right: 5px;
}

.pm_status_head {
	border-bottom: 1px solid #d8d8d8;
	font-size: 0.9em; 
	background: #fff url("../images/bbcodes.png") repeat-x 0 100%;
	height: 22px;
	padding: 0;
	font-weight: bold;
	text-align: center;
	color: #4e4e4e;
}

.pm_status_content {
	padding: 5px;
}